/*--------------------------------------------------------------------
 * Copyright (c) 2013-2014, Treebuild Co., Ltd. All rights reserved.
 * Author: Hassadee Pimsuwan
 *------------------------------------------------------------------*/

// Table of Contents
// =====================
// Reset
//      -   Global Reset
//      -   Bootstrap Reset


/* Start: Global Reset
-------------------------------------------------- */

ul,
ol {
    margin: 0;
    padding: 0;
}

a,
ul,
ol,
li,
ul > li:before,
ul > li:after {
    list-style-type: none;
}

a,
a:active,
a:focus,
a:hover,
button:focus,
input:focus,
textarea:focus,
*:focus {
    outline: none;
}

li {
    line-height: 20px;
}

img {
    border: 0 none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

figcaption * {
    padding: 0 10px;
    margin: 0;
}

figcaption *:first-child {
    padding-top: 5px;
}
figcaption *:last-child {
    padding-bottom: 5px;
}

audio,
canvas,
progress,
video {
    display: block;
}

label {
    font-weight: normal;
}

/* End: Global Reset
-------------------------------------------------- */


/* Start: Bootstrap Reset
-------------------------------------------------- */

.panel-body {
    padding: 5px;
}

/* End: Bootstrap Reset
-------------------------------------------------- */