/* Reset
-------------------------------------------------- */
ul,
ol {
	margin: 0;
	padding: 0;
}

a,
ul,
ol,
li,
ul > li:before,
ul > li:after {
	list-style-type: none;
}

li {
	line-height: 20px;
}

img {
	border: 0 none;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
}

figcaption * {
	padding: 0 10px;
	margin: 0;
}

figcaption *:first-child {
	padding-top: 5px;
}
figcaption *:last-child {
	padding-bottom: 5px;
}

/* Global
-------------------------------------------------- */
html,
body {
	margin: 0;
	overflow-x: hidden;
}


/* Start: 3D Viewer
-------------------------------------------------- */
$header-height:	80px;
$grid_background: "../img/white_grid.png";

.fit {
	overflow: hidden;
}

.vr-open-button-container {
	.vr-open-button {
		background: $turquoise;
		border: 0;
		color: $white;
		font-size: 18px;
		font-weight: 600;
		width: 100%;
		height: 60px;
		&:hover {
			background: $turquoise-hover;
		}
	}
}

.vr-page {
	position: absolute;
		top: 0;
		left: 100%;
	width: 100%;
	height: 100%;
	z-index: 6001;
}

.vr-header-container {
	background: $white;
	@include box-shadow-default();
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: $header-height;
	z-index: 6003;
	.vr-logo-container {
		border-right: 1px solid $lightblack;
		float: left;
		margin: 5px 0 0 20px;
		width: 250px;
		height: 70px;
		img {
			width: 100%;
			height: 70px;
		}
	}
	.vr-headline {
		color: $lightblack;
		float: left;
		line-height: 70px;
		margin: 5px 0 0 20px;
		width: auto;
		height: 70px;
		h1 {
			font-size: 16px;
			margin: 12px 0;
		}
		.vr-headline-name {
			font-style: italic;
		}
		.vr-headline-product-name {
			font-weight: 600;
		}
	}
	.vr-close-button-container {
		float: right;
		width: 170px;
		height: $header-height;
		.vr-close-button {
			background: $turquoise;
			border: 0;
			color: $white;
			font-size: 14px;
			width: 100%;
			height: 100%;
			&:hover {
				background: $turquoise-hover;
			}
		}
	}
}

.vr-container {
	position: absolute;
		top: 80px;
		left: 0;
	overflow: hidden;
	width: 100%;
	height: calc(100% - 80px);
	z-index: 6002;
	.vr-viewer {
		background: $white;
		border: 0;
		position: absolute;
			top: 0;
			left: 0;
		width: 100%;
		height: 100%;
		z-index: 6005;
	}
	.vr-toolbar-container {
		background: $translucent-white;
		@include border-default();
		@include border-radius(3px);
		@include box-shadow-default();
		margin: 0 auto;
		padding: 10px;
		position: absolute;
			right: 0;
			bottom: 20px;
			left: 0;
		width: 550px;
		height: 49px;
		z-index: 6006;
		.camera-toggle-button-container {
			float: left;
			margin: 0 5px;
			.camera-toggle-button {
				background: $turquoise;
				border: 0;
				color: $white;
				font-size: 14px;
				width: 110px;
				height: 30px;
				&:hover {
					background: $turquoise-hover;
				}
			}
		}
	}

	.navigation-control {
		$button-size: 95px;

		position: absolute;
			bottom: 20px;
			left: 20px;
		z-index: 6006;
		.control-item {
			margin: 5px 0;
			width: $button-size;
			height: $button-size;
		}
		.control-button {
			background: $darkwhite;
			border: 2px solid $lightblack;
			line-height: $button-size;
			text-align: center;
			word-wrap: break-word;
			width: $button-size;
			height: $button-size;
			&:hover {
				background: $white;
			}
		}
	}

	.video-camera {
		background: $white;
		border: 0;
		position: absolute;
			top: 0;
			left: 0;
		width: 100%;
		height: 100%;
		z-index: 6004;
	}
}
/* End: 3D Viewer
-------------------------------------------------- */


/* Start: Footer
-------------------------------------------------- */
.copyright-container {
	margin: 20px 0;
}
/* End: Footer
-------------------------------------------------- */