/*--------------------------------------------------------------------
 * Copyright (c) 2013-2014, Hassadee Pimsuwan. All rights reserved.
 * Author: Hassadee Pimsuwan
 *------------------------------------------------------------------*/
 

$translucent-white: rgba(255, 255, 255, 0.5);
$translucent-black: rgba(0, 0, 0, 0.75);

$lightblue:		#1BBC9B;
$gray:          #8A8A8A;
$green:         #9BC148;
$white:         #FFFFFF;
$darkwhite:		#F4F4F4;
$black:         #000000;
$lightblack:   	#333333;
$blue:          #33B4E4;

$mat-glowgreen:     #56DE81;
$mat-glowskyblue:   #73B4EF;
$mat-pink:          #EC44B0;
$mat-red:           #D41516;
$mat-orange:        #FF7900;
$mat-tan:           #B7A158;
$mat-yellow:        #DBD723;
$mat-lightgreen:    #B1F103;
$mat-green:         #56B320;
$mat-blue:          #22A1D8;
$mat-oceanblue:     #008080;
$mat-purple:        #A020F0;
$mat-brown:         #885921;
$lightgray:     	#C0C0C0;
$mat-gray:          #A6B3B3;
$mat-cream:         #FFF5D1;


/* Flat UI Kit
Source: designmodo.github.io/Flat-UI/
-------------------------------------------------- */
$turquoise:			#1ABC9C;
$turquoise-hover:	#2FE2BF;
$greensea:			#16A085;
$emerald:			#2ECC71;
$nephritis:			#27AE60;
$peterriver:		#3498D8;
$belizehole:		#2980B9;
$amethyst:			#9B59B6;
$wisteria:			#8E44AD;
$wetasphalt:		#34495E;
$midnightblue:		#2C3E50;
$sunflower:			#F1C40F;
$orange:			#F39C12;
$carrot:			#E67E22;
$pumpkin:			#D35400;
$alizarin:			#E74C3C;
$pomegranate:		#C0392B;
$clouds:			#ECF0F1;
$silver:			#BDC3C7;
$concrete:			#95A5A6;
$asbestos:			#7F8C8D;


/* Viget
http://viget.com/inspire/naming-colors
-------------------------------------------------- */
$indigo:	#0D3D56;
$sophia:	#0F5B78;
$skye:		#117899;
$alice:		#1496BB;
$jade:		#5CA794;
$kelly:		#50B121;
$daisy:		#EBC944;
$amber:		#EDAA38;
$april:		#F08C2D;
$coral:		#F26D21;
$rowan:		#D94E20;
$ruby:		#C02F1D;
$jet:		#131516;
$raven:		#373D3F;
$asher:		#555F61;
$stone:		#707C80;
$gray:		#8C979A;
$sterling:	#A7B0B2;
$heather:	#C1C7C9;
$pearl:		#DADEDF;
$lilia:		#F2F3F4;
